=render 'devise/navbar'
.container
  .form-action
    .form_authenticated.p-3
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "px-4 py-3 my-box mx-auto", method: :put }) do |f|
        %h2.text-center.m-3.h3.fw-bolder Change your password
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        .mb-3
          .field
            = f.label :password, "New password"
            %br/
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
              %br/
            = f.password_field :password, :class => "form-control", :id => "exampleDropdownFormPassword1", :placeholder => "password", autocomplete: "new-password"
        .mb-3
          .field
            = f.label :password_confirmation, "Confirm new password"
            %br
            = f.password_field :password_confirmation, :class => "form-control", :id => "exampleDropdownFormPassword4", :placeholder => "password",  autocomplete: "new-password"
        .actions.d-flex.justify-content-center
          = f.submit "Change", class: "btn btn-primary btn-authenticated"
        %br/
        .d-flex.justify-content-center.gap-1
          %p Remember your password?
          = render "devise/shared/links_for_log_in"





