=render 'devise/navbar'
.container
  .form-action.mt-5
    .form_authenticated.p-3
      %h2.text-center.m-3.h3.fw-bolder Hi, Welcome Back
      = render "devise/shared/error_messages", resource: resource
      = render "devise/shared/links_oauth_google"
      .space-oauth
        .space
        %span or enter your credentials
        .space
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "px-4 py-3 my-box mx-auto"}) do |f|
        .mb-3
          .field
            = f.label "Email address"
            %br/
            = f.email_field :email, :class => "form-control", :id => "exampleDropdownFormEmail1", :placeholder => "name@example.com", autocomplete: "email"
        .mb-3
          .field
            = f.label :password
            %br/
            = f.password_field :password, :class => "form-control", :id => "exampleDropdownFormPassword3", :placeholder => "password", autocomplete: "current-password"

        - if devise_mapping.rememberable?
          .mb-3
            .form-check
              .field
                = f.check_box :remember_me, :class => "form-check-input", :id => "dropdownCheck"
                = f.label :remember_me, :class => "form-check-label"
        .d-flex.justify-content-end.mb-3
          = render "devise/shared/links_forgot_password"
        .actions.d-flex.justify-content-center
          = f.submit "Log in", class: "btn btn-primary btn-authenticated"
      %br/
      .d-flex.justify-content-center.gap-1
        %p Don`t have and account?
        = render "devise/shared/links_for_register"

