.navbar-big.d-none.d-lg-block
  %nav.navbar.justify-content-between.p-3.shadow-sm
    = link_to 'Gallery', categories_path, class: 'navbar-brand name-brand text-black border-none'
    -if user_signed_in?
      .btn-group.pe-2.d-flex.align-items-center
        .dropdown.me-3
          %button.btn.btn-dark.dropdown-toggle.h-100{'aria-expanded' => 'false', 'data-bs-toggle' => 'dropdown', :type => 'button'}
            %i.bi.bi-translate.fs-5
          %ul.dropdown-menu.bg-dark
            %li.dropdown-item.text-light.bg-dark
              =button_to 'English', update_language_path('en'), method: :put, class: 'btn btn-transparent text-light'
            %li.dropdown-item.text-light.bg-dark
              =button_to 'Русский', update_language_path('ru'), method: :put, class: 'btn btn-transparent text-light'
            %li.dropdown-item.text-light.bg-dark
              =button_to 'Українська', update_language_path('uk'), method: :put, class: 'btn btn-transparent text-light'
        %p.login.pe-1= user_signed_in? ? "#{current_user.first_name} #{current_user.last_name}" : ''
        %label{ for: 'drop-down', class: 'custom-avatar-label'}
          = avatar_for(current_user)
        %button.btn.btn-outline-secondary.dropdown-toggle{'aria-expanded' => 'false', 'data-bs-toggle' => 'dropdown', 'data-bs-display' => 'static', :type => 'button', 'class' => 'd-none', 'id' => 'drop-down'}
        %ul.dropdown-menu.dropdown-menu-lg-end
          %li.dropdown-item.bg-white
            = button_to edit_user_registration_path, method: :get, class: 'btn btn-transparent w-100' do
              = t('.edit-profile')
          %li.dropdown-item.bg-white
            = button_to destroy_user_session_path, method: :delete, class: 'btn w-100' do
              = t('.sign-out')
          %li.dropdown-item.bg-white
            = button_to subscriptions_categories_path, method: :get, class: 'btn w-100' do
              = t('.subscriptions')

.navbar-small.d-block.d-lg-none
  %nav.navbar.justify-content-between.p-3.container-fluid
    = link_to 'Gallery', categories_path, class: 'navbar-brand name-brand text-black border-none'
    .d-flex.align-items-center
      %button.navbar-toggler.bg-dark{'aria-controls' => 'navbarOffcanvasLg', 'aria-label' => 'Toggle navigation', 'data-bs-target' => '#navbarOffcanvasLg', 'data-bs-toggle' => 'offcanvas', :type => 'button'}
        %span.bi.bi-list
      #navbarOffcanvasLg.offcanvas.offcanvas-end.bg-light{'aria-labelledby' => 'navbarOffcanvasLgLabel', :tabindex => '-1'}
        %nav.navbar.navbar-dark.m-3
          .d-flex.align-items-center
            -if user_signed_in?
              %label{ for: 'drop-down', class: 'custom-avatar-label'}
                = avatar_for(current_user)
              %p.login= user_signed_in? ? "#{current_user.first_name} #{current_user.last_name}" : ''
          %button.btn-close.btn-close-dark{'aria-label' => 'Close', 'data-bs-dismiss' => 'offcanvas', :type => 'button'}
        .dropdown.ms-3
          %button.btn.btn-dark.dropdown-toggle.h-100{'aria-expanded' => 'false', 'data-bs-toggle' => 'dropdown', :type => 'button'}
            %i.bi.bi-translate.fs-5
          %ul.dropdown-menu.bg-dark
            %li.dropdown-item.text-light.bg-dark
              =button_to 'English', update_language_path('en'), method: :put, class: 'btn btn-transparent text-light'
            %li.dropdown-item.text-light.bg-dark
              =button_to 'Русский', update_language_path('ru'), method: :put, class: 'btn btn-transparent text-light'
            %li.dropdown-item.text-light.bg-dark
              =button_to 'Українська', update_language_path('uk'), method: :put, class: 'btn btn-transparent text-light'
        .offcanvas-body
          %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
            %li.nav-item.mb-3
              = button_to edit_user_registration_path, method: :get, class: 'btn btn-transparent text-dark' do
                =t('.edit-profile')
            %li.nav-item.mb-3
              = button_to destroy_user_session_path, method: :delete, class: 'btn btn-transparent text-dark' do
                =t('.sign-out')
            %li.nav-item.mb-3
              = button_to subscriptions_categories_path, method: :get, class:'btn btn-transparent text-dark' do
                =t('.subscriptions')
