= render "categories/navbar"
.container.d-flex.justify-content-between.mt-4.align-items-center.mb-5
  =button_to my_categories_categories_path, method: :get, class:"btn btn-dark p-2" do
    = t(".my-categories")
  -if flash[:blank_name]
    .alert.alert-danger = flash[:blank_name]

  - if flash[:duplicate_name]
    .alert.alert-danger= flash[:duplicate_name]

  -if flash[:alert]
    .alert.alert-danger= flash[:alert]

  %button.btn.btn-dark.p-2{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
    = t(".create-category")
  / Modal
  #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h1#exampleModalLabel.modal-title.fs-5= t(".create-category-title")
          %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
        .modal-body
          =render "categories/new", category: Category.new
.container.d-flex.gap-5.flex-wrap
  -@categories.each do |category|
    %div
      =link_to category_path(category), class: "text-decoration-none text-black" do
        .img-wrapper
          =preview_category(category)
      .d-flex.justify-content-between.align-items-end
        %p.h5.text-dark.align-items-center= category.category_name
        =turbo_frame_tag "subscriber" do
          .d-flex.align-items-center.gap-2
            -if current_user.id == category.user_id
              %p.h5= "#{category.subscribers.count} sub"
            -unless current_user.id == category.user_id
              %p.h5= category.subscribers.count
              -if category.subscribe?(current_user)
                =button_to "Unsubscribe", category_subscriber_path(category, current_user.id), method: :delete, class: "btn btn-outline-secondary p-2"
              -else
                =button_to "Subscribe", category_subscribers_path(category, current_user.id), method: :post, class: "btn btn-outline-secondary p-2"
.container.d-flex.justify-content-center.mt-5
  =paginate @categories