= render "categories/navbar"
.container.mt-5
  .d-flex.justify-content-between.align-items-center
    %h1.h2= @category.category_name
    %button.btn.btn-dark.p-2{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
      = t("upload-image")
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %h1#exampleModalLabel.modal-title.fs-5= t("upload-image")
            %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
          .modal-body
            =form_with(model: [@category, Image.new], local: true, html: {multipart: true, id: "image-upload-form"}, data: {turbo_frame: "frame2" }) do |f|
              -if flash[:alert]
                %p Check the size of your photo, it should not exceed 50mb
              - if flash[:notice]
                .alert.alert-danger= flash[:notice]
              -if @category.user_id == current_user.id
                .mb-3
                  %div
                    .mt-2
                      %label{ for: "image_upload", class: "custom-upload-label btn btn-secondary btn-upload w-100" }= t("upload-image")
                      = f.file_field :image, id: "image_upload", class: "d-none"
                      %br/
                .d-flex.justify-content-between.mt-1
                  =f.submit "Upload", class: "btn btn-primary mt-2 d-flex justify-content-center d-none"
  .masonry-container.mt-5.mb-5
    -@image.each do |img|
      =link_to category_image_path(@category, img) do
        .masonry-item
          =image_tag img.image.url, class: "rounded-3 image-home"

.container.d-flex.justify-content-center.mt-5
  =paginate @image
