.block-image
  =render 'categories/navbar'
  .container
    .mt-3
      .info-images.d-block
        .d-flex.justify-content-between.align-items-center.me-4.pt-3
          =button_to category_path(@category), method: :get, class: 'btn btn-transparent ms-2' do
            %i.bi.bi-arrow-left
          .d-flex.align-items-center
            %label{ for: 'drop-down', class: 'custom-avatar-label'}
              =avatar_for(@category.user)
            %p= "#{@category.user.first_name + ' ' + @category.user.last_name}"
        =image_tag @image.image.url, class: 'image-category'
        =turbo_frame_tag 'frame1' do
          .d-flex.justify-content-between.align-items-center.info-image-object
            .d-flex.align-items-center.gap-1.mb-1
              -if @image.liked?(current_user)
                =button_to category_image_like_path(@category, @image), method: :delete, id: 'btn-like', class: 'btn btn-outline-dark' do
                  %i.bi.bi-suit-heart-fill
              -else
                =button_to category_image_like_path(@category, @image), method: :post, id: 'btn-like', class: 'btn btn-outline-dark' do
                  %i.bi.bi-suit-heart
              %button.btn.btn-transparent{'data-bs-target' => '#exampleModal', 'data-bs-toggle' => 'modal', :type => 'button'}
                %p.h5.pe-3= @likes.count
              #exampleModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'exampleModalLabel', :tabindex => '-1'}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %h1#exampleModalLabel.modal-title.fs-5= t('.liked')
                      %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', :type => 'button'}
                    .modal-body
                      -@likes.each do |like|
                        .d-flex.justify-content-between.align-items-center.mb-2
                          .d-flex.align-items-center
                            %label{ for: 'drop-down', class: 'custom-avatar-label'}
                              =avatar_for(like.user)
                            %p= "#{like.user.first_name}  #{like.user.last_name}"
                          -@category.subscribers.each do |subscriber|
                            -if like.user.id == subscriber.user.id
                              %p.text-secondary= t('.subscriber')
                    .modal-footer
                      %button.btn.btn-secondary{'data-bs-dismiss' => 'modal', :type => 'button'} Close

        =form_with(url: category_image_comment_path(@category, @image), location: true, method: :post, data: {turbo_frame: 'comment'}) do |form|
          .d-flex.gap-2.p-2
            =form.text_field :comment, class: 'comment-tag'
            =button_tag class: 'icon-button' do
              %i.bi.bi-arrow-up-circle-fill
        -@comments.each do |comment|
          .d-flex.justify-content-between.align-items-center
            .d-block.ms-5
              .d-flex.align-items-center
                %label{ for: 'drop-down', class: 'custom-avatar-label'}
                  =avatar_for(comment.user)
                .d-block
                  %p.login-user= "#{comment.user.first_name + ' ' + comment.user.last_name}"
                  %p.comment-view= comment.comment
              %p.comment-data.pb-3= comment.created_at.strftime('%Y-%m-%d')
            -@category.subscribers.each do |subscriber|
              -if comment.user.id == subscriber.user.id
                %p.text-secondary.me-5= t('.subscriber')