!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Rails Gallery"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %nav
      = link_to "Home", root_path
      = user_signed_in? ? button_to("Sign out", destroy_user_session_path, method: :delete) : link_to("Sign in", new_user_session_path)

    = user_signed_in? ? "#{current_user.first_name} #{current_user.last_name}" : ""
    - if user_signed_in?
      = image_tag current_user.avatar.url(:thumb), with: 50, height: 50, style: "border-radius:1px"


    %p.notice= notice
    %p.alert= alert
    = yield
